<partial name="_Header" />

<section class="innerPage_headerBG" style="background:url('@Url.Content("~/images/bg_img/3.jpg")') center center;">
	<div class="container">
		<h1>About us</h1>
		<div class="breadcum_block">
			@await Html.PartialAsync("_BreadcrumbsPartial", (List<BreadcrumbItem>)ViewBag.Breadcrumbs)

		</div>
	</div>
	<div class="sliderBanner_Overlay"></div>
</section>

<main class="main_container_wrapper">
	<div class="aboutContent_section">

		<div class="contentSection_headBlock">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<h2>About Us</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="contentSection_textBlock">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<p>Our mission is to provide a digital meeting ground for independent service providers and people who want to hire them or use their services. People who create their profiles on our directory site are independent adults and are performing their services voluntarily.</p>
						<p>We strictly ensure that we are following all applicable state and federal regulations regarding prostitution and human trafficking.</p>
						<p>Our advertisers are acquainted with applicable state and federal statutes. Our detailed policies and guidelines for those who list their services on our site are available on a separate webpage.</p>
						<p>Anyone found violating any relevant regulations has their account on our site suspended.</p>
						<p>You can inform us if you come across any instance of an activity on our site that seems to be violating any law.</p>
						<p>As a directory listing site, we provide the platform and give the guidelines to anyone who wants to list their services on our site. However, we do not directly verify the details mentioned on every profile including but not limited to the accuracy or recency of any photographs, age or other details shared by those who use our site.</p>
						<p>We assume no responsibility or liability regarding any content on our website posted by independent advertisers.</p>
						<p>We neither control nor authenticate any of the content on our website nor any communications occurring via our website. The contact details posted by advertisers are their personal contact details and have not been verified by us.</p>
						<p>We do not endorse any advertiser listed on our site. We will not forward any emails sent to us. We will not individually respond to emails directed at us asking about the authenticity or any other aspects of any particular advertiser. We are not an escort agency nor are we affiliated with any particular advertiser on the site.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

