<partial name="_Header" />

<section class="innerPage_headerBG" style="background:url('@Url.Content("~/images/bg_img/3.jpg")') center center;">
	<div class="container">
		<h1>Contact us</h1>
		<div class="breadcum_block">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Contact us</li>
			</ol>
		</div>
	</div>
	<div class="sliderBanner_Overlay"></div>
</section>

<main class="main_container_wrapper">
	<div class="aboutContent_section">
		<div class="contentSection_textBlock">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<p>Please use the email contact or the form below and we'll get back to you as soon as we can. </p>
						<div class="contactForm_block">
							<div class="contactInfo_block">
								<p>Or you may choose to also Email us directly at <a href="mailto:info@escortsdirectory.com">info@escortsdirectory.com</a></p>
							</div>

							<form action="" method="">
								<div class="row">
									<div class="col-lg-4">
										<div class="form-group">
											<label>Name</label>
											<input class="form-control" type="" name="" />
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label>Email	</label>
											<input class="form-control" type="" name="" />
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label>Phone</label>
											<input class="form-control" type="" name="" />
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<label>Message</label>
											<textarea class="form-control" type="" name=""></textarea>
										</div>
									</div>
								</div>

								<div class="bannerButton_group">
									<button type="button">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</main>
