@{
	Layout = "_Layout_Profile";
}

		<!--inner page banner-->
		<section class="innerPage_headerBG" style="background:url('@Url.Content("~/images/bg_img/3.jpg")') center center;">
			<div class="container">
				<h1>VIP Escorts</h1>
				<div class="breadcum_block">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">VIP Escorts</li>
					</ol>
				</div>
			</div>
			<div class="sliderBanner_Overlay"></div>
		</section>
		<!--end inner page banner-->

		<main class="main_container_wrapper inner_pageContainer">
			<!--
			<div id="profileContactNo" class="modelProfile_contactNoBox onScrollHide">
				<a href="tel:+1-702-381-6357"><i class="fa fa-phone"></i> Call Me: +1-702-381-6357</a>
			</div>-->

			<section id="section_block" class="container_block_section modelPersonal_information">
				<div class="container">

					<div class="row">
						<div class="col-lg-5">
							<div class="personlInfo_Description">
								<h2>About Leslie</h2>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div>

							<div class="featured_model_carouslSection marginTopMinus modelSinglePhoto_preview">
								<div class="featuresModle_bgOverlay">
									<!--responsive profile slider-->
									<ul class="rslides modelProfile_photoDisplay" id="modelProfile_slide">
										<li><a href="~/images/model_photos/15.jpg" data-fancybox="modelProfile_photoss" data-caption="photo caption" type="button" class="modelPhoto-image"><img src="~/images/model_photos/15.jpg" alt=""></a></li>
										<li><a href="~/images/model_photos/16.jpg" data-fancybox="modelProfile_photoss" data-caption="photo caption" type="button" class="modelPhoto-image"><img src="~/images/model_photos/16.jpg" alt=""></a></li>
										<li><a href="~/images/model_photos/17.jpg" data-fancybox="modelProfile_photoss" data-caption="photo caption" type="button" class="modelPhoto-image"><img src="~/images/model_photos/17.jpg" alt=""></a></li>
									</ul>

									<!-- Slideshow 3 Pager -->
									<ul id="modelProfile_slide-pager">
										<li><a href="~/#"><img src="~/images/model_photos/15.jpg" alt=""></a></li>
										<li><a href="~/#"><img src="~/images/model_photos/16.jpg" alt=""></a></li>
										<li><a href="~/#"><img src="~/images/model_photos/17.jpg" alt=""></a></li>
									</ul>
									<!--responsive profile slider-->
								</div>
							</div><!-- End .featured-proucts-section -->
						</div>
						<div class="col-lg-7">
							<div class="pageTop_descriptionText">
								<div class="ProfileInfo_Figure_table">
									<div class="ProfileInfo_NewStyle">
										<!-- <h2>Personal Details</h2> -->

										<div class="personalDetails_block">
											<!--Personal Info-->
											<div class="personalCharacteristic_Info modelFigure_info informationTwoCol">
												<div class="BlockIcon">
													<i class="fa fa-info-circle" aria-hidden="true"></i>
													<h3>Personal Information</h3>
												</div>
												<div class="ModelInfo_Details">
													<ul>
														<li>Name: <span>Leslie</span></li>
														<li>Age: <span>23</span></li>
														<li>Height: <span>5'5</span></li>
														<li>Weight: <span>123 lbs</span></li>
														<li>Bust: <span>B-Cup</span></li>
														<li>Hair: <span>Black</span></li>
														<li>Eyes: <span>Black</span></li>
														<li>Language: <span>English</span></li>
														<li>Gender: <span>Female</span></li>
														<li>Available To: <span>Men, Couples, Female, TS</span></li>
														<li>Availability: <span>On all girls</span></li>
													</ul>
												</div>
											</div>

											<div class="row">
												<div class="col-lg-6">
													<!--Phone-->
													<div class="personalCharacteristic_Info modelBooking_info phoneEmailStyle contactInfo_block">
														<div class="BlockIcon">
															<i class="fa fa-phone-square"></i>
															<h3>Contact</h3>
														</div>
														<div class="ModelInfo_Details">
															<ul>
																<li><a href="tel:702-935-5311" style="font-size:1.05rem;"><i class="fa fa-phone-square"></i><strong>Cell Phone: </strong> 702-9XX-XXXX <!--<i class="fa fa-eye"></i>--></a></li>
																<li><a href="#" style="font-size:1.05rem;"><i class="fa fa-thumb-tack"></i><strong>Location: </strong>  Dallas</a></li>
																<li><a href="#" style="font-size:1.05rem;"><i class="fa fa-globe"></i><strong>Country: </strong>  Swizerland</a></li>
																<li><a href="#" style="font-size:1.05rem;"><i class="fa fa-building"></i><strong>City: </strong>  Zurich</a></li>
															</ul>
														</div>
													</div>
												</div>

												<div class="col-lg-6">
													<div class="profileContactBtn phoneEmailStyle">
														<a href="7029355311" class="phoneNoStyle"><i class="fa fa-phone-square"></i> 702-935-5311</a>
													</div>
													<div class="profileContactBtn phoneEmailStyle">
														<a href="mailto:info@example.com" class="emailAddressStyle"><i class="fa fa-envelope"></i> info@example.com</a>
													</div>
													<div class="profileContactBtn phoneEmailStyle">
														<a href="mailto:info@example.com" class="bookingAppointmentStyle"><i class="fa fa-check-circle"></i> Booking an appointment</a>
													</div>
												</div>

												<div class="col-lg-6 d-none">
													<!--Email-->
													<div class="personalCharacteristic_Info modelBooking_info phoneEmailStyle d-none">
														<div class="BlockIcon">
															<i class="fa fa-envelope"></i>
															<h3>Email</h3>
														</div>
														<div class="ModelInfo_Details">
															<ul>
																<li><a href="mailto:anissausa@gmail.com" style="font-size:1.05rem;">leslie@gmail.com</a></li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col-lg-12 d-none">
													<!--Email-->
													<div class="personalCharacteristic_Info compalinProfileBlock">
														<div class="BlockIcon">
															<h3>Complain</h3>
														</div>
														<div class="ModelInfo_Details">
															<ul>
																<li><a href="#"><i class="fa fa-link" style="margin-right:5px;"></i> View Direct Link</a></li>
																<li><a href="#"><i class="fa fa-warning" style="margin-right:5px;"></i> Report Fake Ad</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="row d-none">
												<div class="col-lg-6">
													<div class="profileContactBtn phoneEmailStyle">
														<a href="7029355311" class="phoneNoStyle"><i class="fa fa-phone-square"></i> 702-935-5311</a>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="profileContactBtn phoneEmailStyle">
														<a href="mailto:info@example.com" class="emailAddressStyle"><i class="fa fa-envelope"></i> info@example.com</a>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-lg-6">
													<!--working time Info-->
													<div class="personalCharacteristic_Info modelFigure_info">
														<div class="BlockIcon">
															<i class="fa fa-info-circle" aria-hidden="true"></i>
															<h3>Working Time</h3>
														</div>
														<div class="ModelInfo_Details">
															<ul>
																<li>Monday <span>07:00 - 22:00</span></li>
																<li>Tuesday <span>07:00 - 22:00</span></li>
																<li>Wednesday <span>07:00 - 22:00</span></li>
																<li>Thursday <span>07:00 - 22:00</span></li>
																<li>Friday <span>07:00 - 22:00</span></li>
																<li>Saturday <span>07:00 - 22:00</span></li>
																<li>Sunday <span>07:00 - 22:00</span></li>
															</ul>
														</div>
													</div>
													<!--end working time Info-->
													<!--rates Info-->
													<div class="personalCharacteristic_Info modelFigure_info">
														<div class="BlockIcon">
															<i class="fa fa-info-circle" aria-hidden="true"></i>
															<h3>Rates</h3>
														</div>
														<div class="ModelInfo_Details">
															<ul>
																<li class="servicesTitleRow">Time <div class="profileRow_info"><span class="secondCol">InCall</span><span>Outcall</span></div></li>
																<li>1 Hour  <div class="profileRow_info"><span class="secondCol"><i class="fa fa-times"></i></span> <span>600 USD</span></div></li>
																<li>2 Hours <div class="profileRow_info"><span class="secondCol"><i class="fa fa-times"></i></span> <span>900 USD</span></div></li>
																<li>3 Hours <div class="profileRow_info"><span class="secondCol"><i class="fa fa-times"></i></span> <span>1200 USD</span></div></li>
																<li>6 Hours <div class="profileRow_info"><span class="secondCol"><i class="fa fa-times"></i></span> <span>1800 USD</span></div></li>
																<li>12 Hours <div class="profileRow_info"><span class="secondCol"><i class="fa fa-times"></i></span> <span>3000 USD</span></div></li>
															</ul>
														</div>
													</div>
													<!--end rates Info-->
												</div>
												<div class="col-lg-6">
													<!--rates Info-->
													<div class="personalCharacteristic_Info modelFigure_info">
														<div class="BlockIcon">
															<i class="fa fa-info-circle" aria-hidden="true"></i>
															<h3>Services</h3>
														</div>
														<div class="ModelInfo_Details">
															<ul>
																<li class="servicesTitleRow">Services <div class="profileRow_info"><span class="secondCol">Included</span><span>Extra</span></div></li>
																<li>69 Position  <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>Classic varinal sex <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>Cum in mouth <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>Cum on body <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>Cunnilingus <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>Deepthroat <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>Dirty talk <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>Erotic massage <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>Figering <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>Foot fetish <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>GFE <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>Handjob <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>Kamasutra <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>Masturbation <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>Oral without condom <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>Porn Star Experience <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>Sex between breasts <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>Sex Toys <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>Squirting <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>Striptease <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>Anal <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>Erotic Photos <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>Role-play <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
																<li>Uniforms <div class="profileRow_info"><span class="secondCol"><i class="fa fa-check"></i></span> <span></span></div></li>
															</ul>
														</div>
													</div>
													<!--end rates Info-->
												</div>
											</div>





										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<section class="featured_model_carouslSection model_listGridSection recommanded_girlsCarousel">
				<div class="featuresModle_bgOverlay">
					<div class="container">
						<div class="sectionTitle_block text_align_center">
							<h2>Recommanded Escorts</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
						<div class="carousel-section">
							<div class="featuredModel_carousel regularModel_gridList owlControl_Panel Nav_Inner_LeftRight navOn_hover owl-carousel">
								<div class="modelPhoto photoWith_review largeHeight">
									<figure class="modelPhoto-image-container">
										<a href="model_profile.html" class="modelPhoto-image">
											<img src="~/images/model_photos/1.jpg" alt="">
										</a>
									</figure>
									<div class="modelPhoto-details desctionText_hide">
										<div class="modelTitle_Style vignetColor">
											<p>Sydney</p>
											<h2><span>Alina Volkova</span></h2>
											<div class="model_sortBiography_lists">
												<ul>
													<li>Age: 36</li>
													<li>Height: 157cm</li>
													<li>Body type: Busty</li>
													<li>Bust: G and above</li>
													<li>Hair colour: Blonde</li>
													<li>Eye colour: Blue Green mix</li>
												</ul>
												<a href="#">Profile</a>
											</div>
										</div>
									</div><!-- End .modelPhoto-details -->
								</div><!-- End .modelPhoto -->

								<div class="modelPhoto photoWith_review largeHeight">
									<figure class="modelPhoto-image-container">
										<a href="model_profile.html" class="modelPhoto-image">
											<img src="~/images/model_photos/1.jpg" alt="">
										</a>
									</figure>
									<div class="modelPhoto-details desctionText_hide">
										<div class="modelTitle_Style vignetColor">
											<p>Sydney</p>
											<h2><span>Alina Volkova</span></h2>
											<div class="model_sortBiography_lists">
												<ul>
													<li>Age: 36</li>
													<li>Height: 157cm</li>
													<li>Body type: Busty</li>
													<li>Bust: G and above</li>
													<li>Hair colour: Blonde</li>
													<li>Eye colour: Blue Green mix</li>
												</ul>
												<a href="~/#">Profile</a>
											</div>
										</div>
									</div><!-- End .modelPhoto-details -->
								</div><!-- End .modelPhoto -->

								<div class="modelPhoto photoWith_review largeHeight">
									<figure class="modelPhoto-image-container">
										<a href="~/model_profile.html" class="modelPhoto-image">
											<img src="~/images/model_photos/1.jpg" alt="">
										</a>
									</figure>
									<div class="modelPhoto-details desctionText_hide">
										<div class="modelTitle_Style vignetColor">
											<p>Sydney</p>
											<h2><span>Alina Volkova</span></h2>
											<div class="model_sortBiography_lists">
												<ul>
													<li>Age: 36</li>
													<li>Height: 157cm</li>
													<li>Body type: Busty</li>
													<li>Bust: G and above</li>
													<li>Hair colour: Blonde</li>
													<li>Eye colour: Blue Green mix</li>
												</ul>
												<a href="~/#">Profile</a>
											</div>
										</div>
									</div><!-- End .modelPhoto-details -->
								</div><!-- End .modelPhoto -->

								<div class="modelPhoto photoWith_review largeHeight">
									<figure class="modelPhoto-image-container">
										<a href="~/model_profile.html" class="modelPhoto-image">
											<img src="~/images/model_photos/1.jpg" alt="">
										</a>
									</figure>
									<div class="modelPhoto-details desctionText_hide">
										<div class="modelTitle_Style vignetColor">
											<p>Sydney</p>
											<h2><span>Alina Volkova</span></h2>
											<div class="model_sortBiography_lists">
												<ul>
													<li>Age: 36</li>
													<li>Height: 157cm</li>
													<li>Body type: Busty</li>
													<li>Bust: G and above</li>
													<li>Hair colour: Blonde</li>
													<li>Eye colour: Blue Green mix</li>
												</ul>
												<a href="~/#">Profile</a>
											</div>
										</div>
									</div><!-- End .modelPhoto-details -->
								</div><!-- End .modelPhoto -->

								<div class="modelPhoto photoWith_review largeHeight">
									<figure class="modelPhoto-image-container">
										<a href="~/model_profile.html" class="modelPhoto-image">
											<img src="~/images/model_photos/1.jpg" alt="">
										</a>
									</figure>
									<div class="modelPhoto-details desctionText_hide">
										<div class="modelTitle_Style vignetColor">
											<p>Sydney</p>
											<h2><span>Alina Volkova</span></h2>
											<div class="model_sortBiography_lists">
												<ul>
													<li>Age: 36</li>
													<li>Height: 157cm</li>
													<li>Body type: Busty</li>
													<li>Bust: G and above</li>
													<li>Hair colour: Blonde</li>
													<li>Eye colour: Blue Green mix</li>
												</ul>
												<a href="~/#">Profile</a>
											</div>
										</div>
									</div><!-- End .modelPhoto-details -->
								</div><!-- End .modelPhoto -->

								<div class="modelPhoto photoWith_review largeHeight">
									<figure class="modelPhoto-image-container">
										<a href="~/model_profile.html" class="modelPhoto-image">
											<img src="~/images/model_photos/1.jpg" alt="">
										</a>
									</figure>
									<div class="modelPhoto-details desctionText_hide">
										<div class="modelTitle_Style vignetColor">
											<p>Sydney</p>
											<h2><span>Alina Volkova</span></h2>
											<div class="model_sortBiography_lists">
												<ul>
													<li>Age: 36</li>
													<li>Height: 157cm</li>
													<li>Body type: Busty</li>
													<li>Bust: G and above</li>
													<li>Hair colour: Blonde</li>
													<li>Eye colour: Blue Green mix</li>
												</ul>
												<a href="~/#">Profile</a>
											</div>
										</div>
									</div><!-- End .modelPhoto-details -->
								</div><!-- End .modelPhoto -->
							</div><!-- End .featured-proucts -->
						</div>
					</div><!-- End .container -->
				</div>
			</section><!-- End .featured-proucts-section -->
		</main>

