<partial name="_Header" />

<section class="innerPage_headerBG" style="background:url('@Url.Content("~/images/bg_img/3.jpg")') center center;">
    <div class="container">
        <h1>Escort Terminology</h1>
        <div class="breadcum_block">
            @await Html.PartialAsync("_BreadcrumbsPartial", (List<BreadcrumbItem>)ViewBag.Breadcrumbs)

        </div>
    </div>
    <div class="sliderBanner_Overlay"></div>
</section>

<main class="main_container_wrapper">
    <div class="aboutContent_section">
        <div class="contentSection_headBlock">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h2>Escort Terminology</h2>
                        <!--<button type="button">Online Booking</button>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="contentSection_textBlock">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <p>Abbreviations and slang have been useful since long in the sex industry. When these abbreviations or slang are used, it is important that their meaning is conveyed correctly. This helps transparent communication between sex workers and their clients and can improve safety of sex workers. Oftentimes there are abbreviations and slang that queer people are familiar with but the general public may not be that familiar with. It is better when everybody is on the same page regarding the meaning of words, phrases, abbreviations, and slang. For all these reasons, we present this glossary.</p>
                        <p>After the glossary, we present a list of outdated and deprecated terms which you should be familiar with. The use of these terms can add to the stigma and violence faced by sex workers. Non sex workers should not use these terms and you can protest the use of such terms by non sex workers.</p>
                        <ul>
                            <li><strong>•	Abolitionist </strong>— Often a "feminist" who believes that prostitution is inherently exploitative, violent and akin to slavery. These people are often described as anti—sex, prohibitionist feminists and/or anti—sex workers' rights feminists, and are focused on the abolition of sex work rather than the promotion of human and labor rights of sex workers.</li>
                            <li><strong>•	Anal play </strong>— Any sexual play with the anus including toys or anal sex</li>
                            <li><strong>•	Anal sex </strong>— Penetration of the anus</li>
                            <li><strong>•	ATM </strong>— Ass To Mouth</li>
                            <li><strong>•	BJ </strong>— Blow Job</li>
                            <li><strong>•	BBBJ </strong>— Bare Back Blow Job, blow job without protection</li>
                            <li><strong>•	BBBJTC </strong>— Bare Back Blow Job To Completion</li>
                            <li><strong>•	BBW </strong>— Big Beautiful Woman</li>
                            <li><strong>•	BLS </strong>— Balls Lick and Suck</li>
                            <li><strong>•	B & D </strong>— Bondage and Discipline</li>
                            <li><strong>•	BDSM </strong>— Body Domination and Sadomasochism</li>
                            <li><strong>•	Bondage </strong>— Restraining or tying up one partner</li>
                            <li><strong>•	Brazilian </strong>— Waxing of the public area to remove all hair</li>
                            <li><strong>•	CBT </strong>— Cock and Ball Torture</li>
                            <li><strong>•	CD </strong>— Cross Dressing</li>
                            <li><strong>• CIM strong </strong>— Cum in Mouth</li>
                            <li><strong>•	CIMWS </strong>— Cum In Mouth With Swallow</li>
                            <li><strong>•	Cisgender (Cis) </strong>— The description of a person who identifies with the sex they were assigned at birth</li>
                            <li><strong>•	CBJ </strong>— Covered Blow Job</li>
                            <li><strong>•	COB </strong>— Cum on Body</li>
                            <li><strong>•	COF </strong>— Cum on Face</li>
                            <li><strong>•	Cougar </strong>— A mature woman typically seeking a younger man</li>
                            <li><strong>•	DATY </strong>— 'Dining at the Y' meaning oral sex on a woman</li>
                            <li><strong>•	DATO </strong>— 'Dining at the Orifice' meaning performing oral sex on someone's anus</li>
                            <li><strong>•	Decrim or Decriminalization </strong>— The act of removing criminal classification from something. Sex workers globally have been advocating for the decriminalization of sex work for decades in order to reduce harm, violence and exploitation within and outside of the community.</li>
                            <li><strong>•	DFK </strong>— Deep French Kissing</li>
                            <li><strong>•	Dirty talk </strong>— The use of creative language during intercourse</li>
                            <li><strong>•	DP </strong>— Double Penetration</li>
                            <li><strong>•	DDP </strong>— Double Digit Penetration, one finger in the vagina with one in the anus</li>
                            <li><strong>•	DT </strong>— Deep Throat</li>
                            <li><strong>•	Doggy style </strong>— A sexual position where one individual penetrates the other from behind</li>
                            <li><strong>•	Dominas </strong>— a Latin word which means 'Mistress'</li>
                            <li><strong>•	Dominatrix </strong>— A femme person who takes on a dominating role during BDSM play</li>
                            <li><strong>•	Dom </strong>— A masculine person who takes on a dominating role during BDSM play</li>
                            <li><strong>•	Erotic Laborer </strong>— An umbrella term for different types of sex workers, including those engaging in sugaring, stripping, camming, escorting etc.</li>
                            <li><strong>•	Facial </strong>— The act of climaxing on a person's face</li>
                            <li><strong>•	Facesitting </strong>— The act of receiving sexual stimulation by sitting on someone's face</li>
                            <li><strong>•	FBSM </strong>— Full Body Sensual Massage</li>
                            <li><strong>•	FE </strong>— Female Ejaculation</li>
                            <li><strong>•	Feminine/Masculine Presenting </strong>— A way to describe someone without using specifically gendered language</li>
                            <li><strong>•	Femme </strong>— Typically describes a very feminine presenting queer person</li>
                            <li><strong>•	Fire and ice </strong>— Giving oral sex while switching between something hot and something cold</li>
                            <li><strong>•	Fisting </strong>— Penetration of the anus or the vagina with a fist</li>
                            <li><strong>•	FK </strong>— French Kissing</li>
                            <li><strong>•	FOSTA/SESTA </strong>— A US piece of legislation which, under the guise of "fighting sex trafficking online", resulted in the widespread censorship and surveillance of sex workers and marginalized people globally.</li>
                            <li><strong>•	French </strong>— Oral Sex</li>
                            <li><strong>•	FS </strong>— Full Service, meaning a sex worker offers a complete sexual experience, usually including penetrative sex</li>
                            <li><strong>•	FtM (F2M) </strong>— Female to Male, a description of a trans person's gender</li>
                            <li><strong>•	GFE aka Girlfriend Experience </strong>— sex workers provide an experience which is similar to having a girlfriend.</li>
                            <li><strong>•	Genderfluid </strong>— The gender identity of people who's relationship to gender changes from time to time</li>
                            <li><strong>•	Genderqueer </strong>— A gender identity outside of the male/female binary</li>
                            <li><strong>•	Greek </strong>— Anal Sex</li>
                            <li><strong>•	GS or 'Golden Shower' </strong>— typically means watching an individual urinate or having them urinate on someone</li>
                            <li><strong>•	Happy ending </strong>— Typically a massage that ends with a hand job</li>
                            <li><strong>•	HJ </strong>— Hand Job</li>
                            <li><strong>•	Hustling </strong>— to work hard</li>
                            <li><strong>•	Italian </strong>– Rubbing the penis between the buttocks</li>
                            <li><strong>•	Intersex </strong>– Term for someone who has an atypical biological sex</li>
                            <li><strong>•	John </strong>– A client</li>
                            <li><strong>•	Legalization </strong>— Often confused with decriminalization, legalization makes something lawful provided it meets the required legal obligations.</li>
                            <li><strong>•	LK </strong>– Light Kissing</li>
                            <li><strong>•	LGBTIQA+ </strong>– Lesbian Gay Bisexual Trans Intersex Queer Asexual +</li>
                            <li><strong>•	MtF (M2F) </strong>— Male to Female, a description of a trans person's gender</li>
                            <li><strong>•	MILF </strong>— Mother I'd Like to Fuck</li>
                            <li><strong>•	MFF </strong>— Male Female Female usually in the context of threesomes</li>
                            <li><strong>•	MMF </strong>— Male Male Female usually in the context of threesomes</li>
                            <li><strong>•	Monogamy </strong>— the practice of only having one sexual partner</li>
                            <li><strong>•	Mutual masturbation </strong>— Two individuals masturbating together</li>
                            <li><strong>•	Mutual French </strong>— Both individuals give and receive oral sex</li>
                            <li><strong>•	Mutual natural French </strong>— Both individuals give and receive oral sex without protection</li>
                            <li><strong>•	MSOG </strong>— Multiple Shots on Goal, meaning a sex worker is able to give the client multiple orgasms</li>
                            <li><strong>•	Mx </strong>— The title of a non-binary person (as opposed to Mr or Ms)</li>
                            <li><strong>•	Natural bush </strong>— Unshaved or substantial pubic hair</li>
                            <li><strong>•	Non-monogamy </strong>— an intimate sexual/emotional relationship involving more than two people.</li>
                            <li><strong>•	Non-binary </strong>— A spectrum of gender identities outside the male/female binary</li>
                            <li><strong>•	Open relationship </strong>— Also known as a non exclusive relationship, is a form of non—monogamy</li>
                            <li><strong>•	OWO </strong>— Oral With Out, a blow job without a condom</li>
                            <li><strong>•	OF </strong>— Only Fans</li>
                            <li><strong>•	Online Only </strong>— The provider only provides services via online mediums such as Only Fans and cam sites.</li>
                            <li><strong>•	Pansexual </strong>— Someone attracted to all gender identities</li>
                            <li><strong>•	PNDP </strong>— Please No Dick Pics</li>
                            <li><strong>•	PSE aka Porn Star Experience </strong>— typically a sexual experience inspired by common pornography</li>
                            <li><strong>•	Punter </strong>— A client</li>
                            <li><strong>•	Queer </strong>— Someone who is not strictly heterosexual</li>
                            <li><strong>•	Role play </strong>— Individuals engaging in sexual activity while acting</li>
                            <li><strong>•	Rimming </strong>— orally gratifying someone's anus</li>
                            <li><strong>•	SAAB </strong>— Sex Assigned At Birth</li>
                            <li><strong>•	Seggs </strong>— A term used for sex on social media platforms who have censored terms like sex</li>
                            <li><strong>•	Snowballing </strong>— The act of passing semen from one person's mouth to another</li>
                            <li><strong>•	Spanish </strong>— Rubbing the penis between breasts</li>
                            <li><strong>•	Spit roasting </strong>— Giving oral sex to one individual while being penetrated from behind by another</li>
                            <li><strong>•	Squirting </strong>— Female ejaculation during orgasm</li>
                            <li><strong>•	Strap on </strong>— A dildo designed to 'strap-on' to a person</li>
                            <li><strong>•	Strip tease </strong>— An erotic dance that involves taking clothes off</li>
                            <li><strong>•	Sugaring (Sugar baby/Sugar daddy) </strong>— A relationship in which one party (often the male) financially supports the other party in exchange for companionship and often sexual intimacy.</li>
                            <li><strong>•	SW </strong>— Sex Worker/s</li>
                            <li><strong>•	SWERF </strong>— A Sex Worker Exclusionary Radical Feminist or a SWERF is person who is fundamentally opposed to sex work despite identifying with a feminist politic. Swerf's are often abolitionists who do not believe that sex workers are autonomous beings.</li>
                            <li><strong>•	Tea bagging </strong>— Placing the scrotum into someone's mouth</li>
                            <li><strong>•	TERF </strong>— A Trans Exclusionary Radical Feminist or a TERF is a person who, despite ascribing to feminism, is opposed to the rights of transgender individuals.</li>
                            <li><strong>•	Toy show </strong>— A masturbation toy show, i.e. dildos, vibrators</li>
                            <li><strong>•	Transgender </strong>— A gender description of a person who is going through or has completed a gender transition</li>
                            <li><strong>•	Trans </strong>— An umbrella term covering identities that transgress binary gender norms</li>
                            <li><strong>•	Tromboning </strong>— A sexual act that involves giving someone's anus oral sex while masturbating their penis</li>
                            <li><strong>•	TTM </strong>— Testicular Tongue Massage</li>
                            <li><strong>•	Water sports </strong>— Sexual acts that involve urine</li>
                            <li><strong>•	Whorearchy </strong>— The Whorearchy is an unfortunate class system within the sex industry which perpetuates lateral violence.</li>
                            <li><strong>•	Whorephobia </strong>— Whorephobia is a form of violence directed towards sex workers aiming to perpetuate stigma in order to control and police women's bodies.</li>
                        </ul>
                        
                        
                        
                        <br />
                        <h2>Terms to avoid if you are not a sex worker</h2>
                        <p>Here is a list of terms you should not use if you are not a sex worker or sex laborer. Sex workers are extremely diverse — whites and non whites including Blacks and others — and some may prefer to use terms other than 'sex worker.' It is fine for those belonging to that group to refer to themselves using these terms but others should not use these terms since it demeans sex workers and creates the potential for more violence against sex workers.</p>
                        <ul>
                            <li><strong>•	Prostitute </strong>— this is a term used to criminalize sex work and perpetuate harmful stereotypes. Those who oppose the consensual selling and buying of sexual services between adults use this term because of its negative connotations and imply sex workers cannot be empowered or autonomous beings.</li>
                            <li><strong>•	Hooker/Whore/Harlot </strong>— are misogynistic slurs to describe someone who is promiscuous and degrade women's sexuality</li>
                            <li><strong>•	Hoe/Heaux </strong>— these terms should only be used by Black sex workers as they are a part of African American vernacular.</li>
                            <li><strong>•	Thot </strong>— this term should only be used by Black sex workers as it is a part of African American vernacular.</li>
                            <li><strong>•	Working girls, girls, call girls </strong>— while these are not slur's in the same way Whore and Hooker are, using the term "girls" when describing sex workers fails to acknowledge the gender diversity of the sex industry, while also infantilizing the experiences of adult women. This also acts as an emotional trigger that plays into the stereotype of young girls in prostitution.</li>
                        </ul>
                        <p>There you have it. Once you know your way around these terms and phrases, you can be more confident while being around sex workers. You will know that you won't be getting caught in any tripwires … as it were. </p>

                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

