@model List<BreadcrumbItem>

<ol class="breadcrumb">
    @foreach (var item in Model)
    {
        if (item.IsActive)
        {
            <li class="breadcrumb-item active" aria-current="page">@item.Title</li>
        }
        else
        {
            <li class="breadcrumb-item">
                <a asp-controller="@item.Controller" asp-action="@item.Action">@item.Title</a>
            </li>
        }
    }
</ol>
