

<!--Nav Box-->
<div class="nav-outer">
	<!-- Main Menu -->
	<nav class="navigation_combo navbar-expand-md navbar-light">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="nav_multilabel clearfix">
				<li class="dropdown has-mega-menu">
					<a href="javascript:void(0)"><i class="fa fa-map-marker"></i><span>LOCATIONS</span></a>
					<div class="mega-menu" data-width="1110px">
						<div class="mega-menu-bar row">
							<div class="column col-lg-2 col-md-2 col-sm-12">
								<ul>
									<li><a href="#">Alabama</a></li>
									<li><a href="#">Alaska</a></li>
									<li><a href="#">Arizona</a></li>
									<li><a href="#">Arkansas</a></li>
									<li><a href="#">California</a></li>
									<li><a href="#">Colorado</a></li>
									<li><a href="#">Connecticut</a></li>
									<li><a href="#">Delaware</a></li>
									<li><a href="#">Florida</a></li>
								</ul>
							</div>
							<div class="column col-lg-2 col-md-2 col-sm-12">
								<ul>
									<li><a href="#">Georgia</a></li>
									<li><a href="#">Hawaii</a></li>
									<li><a href="#">Idaho</a></li>
									<li><a href="#">Illinois</a></li>
									<li><a href="#">Indiana</a></li>
									<li><a href="#">Iowa</a></li>
									<li><a href="#">Kansas</a></li>
									<li><a href="#">Kentucky</a></li>
									<li><a href="#">Louisiana</a></li>
								</ul>
							</div>
							<div class="column col-lg-2 col-md-2 col-sm-12">
								<ul>
									<li><a href="#">Maine</a></li>
									<li><a href="#">Maryland</a></li>
									<li><a href="#">Massachusetts</a></li>
									<li><a href="#">Michigan</a></li>
									<li><a href="#">Minnesota</a></li>
									<li><a href="#">Mississippi</a></li>
									<li><a href="#">Missouri</a></li>
									<li><a href="#">Montana</a></li>
									<li><a href="#">Nebraska</a></li>
								</ul>
							</div>
							<div class="column col-lg-2 col-md-2 col-sm-12">
								<ul>
									<li><a href="#">Nevada</a></li>
									<li><a href="#">New Hampshire</a></li>
									<li><a href="#">New Jersey</a></li>
									<li><a href="#">New Mexico</a></li>
									<li><a href="#">New York</a></li>
									<li><a href="#">North Carolina</a></li>
									<li><a href="#">North Dakota</a></li>
									<li><a href="#">Ohio</a></li>
									<li><a href="#">Oklahoma</a></li>
								</ul>
							</div>
							<div class="column col-lg-2 col-md-2 col-sm-12">
								<ul>
									<li><a href="#">Oregon</a></li>
									<li><a href="#">Pennsylvania</a></li>
									<li><a href="#">Puerto Rico</a></li>
									<li><a href="#">Rhode Island</a></li>
									<li><a href="#">South Carolina</a></li>
									<li><a href="#">South Dakota</a></li>
									<li><a href="#">Tennessee</a></li>
									<li><a href="#">Texas</a></li>
									<li><a href="#">Utah</a></li>
								</ul>
							</div>
							<div class="column col-lg-2 col-md-2 col-sm-12">
								<ul>
									<li><a href="#">Vermont</a></li>
									<li><a href="#">Virginia</a></li>
									<li><a href="#">Washington</a></li>
									<li><a href="#">Washington DC</a></li>
									<li><a href="#">West Virginia</a></li>
									<li><a href="#">Wisconsin</a></li>
									<li><a href="#">Wyoming</a></li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li class="dropdown">
					<a href="javascript:void(0)"><i class="fa fa-th-large"></i><span>CATEGORIES</span></a>
					<ul>
						<li><a href="#">Las Vegas</a></li>
						<li><a href="#">Dalas</a></li>
						<li><a href="#">Georgia</a></li>
					</ul>
				</li>
				<li><a asp-controller="Home" asp-action="about_us"><i class="fa fa-heart"></i><span>ABOUT US</span></a></li>
				<li class="dropdown has-mega-menu">
					<a href="javascript:void(0)"><i class="fa fa-search"></i><span>SEARCH</span></a>
					<div class="mega-menu search-panel" data-width="1110px">
						<div class="mega-menu-bar">
							<div Class="filterSearch_field">
								@await Component.InvokeAsync("SearchForm")

								
							</div>
						</div>
					</div>
				</li>
                <li><a href="#"><i class="fa fa-user"></i><span>MEMBERS</span></a></li>
			</ul>
		</div>
	</nav>
	<!-- Main Menu End-->
</div>


