@model ErrorViewModel
@{
	ViewData["Title"] = "Error";
}

<partial name="_Header" />

<section class="innerPage_headerBG" style="background:url('@Url.Content("~/images/bg_img/3.jpg")') center center;">
	<div class="container">
		<h1>404</h1>

	</div>
	<div class="sliderBanner_Overlay"></div>
</section>

<main class="main_container_wrapper">
	<div class="aboutContent_section">

		<div class="contentSection_headBlock">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<h2>404 This page does not exist </h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

